# Diretórios e arquivos do Go
/bin/
/pkg/
*.exe
*.test
*.out

# Arquivos de build e cache
**/**/build/
**/**/dist/
**/**/cache/
**/**/tmp/
**/**/*.log

# Módulos e dependências do Go
go.work
go.work.sum
go.sum

# Configuração do editor
.idea/
*.iml

# Arquivos sensíveis
.env
.env.local
.env.*.local

# Dados temporários e de testes
/testdata/
*.db
*.sqlite
*.sqlite3
*.DS_Store

# Logs e dumps
*.log
*.bak
*.swp
*.swo

cortex_mongo.tar.gz
cortex.tar.enc
**.tar.gz
***.tar.enc


node_modules

# Next.js
.next/
out/
build/
dist/

# Dependências
.pnp/
.pnp.js

# Cache
.next
.next/*
.cache/
.eslintcache
.stylelintcache
.prettiercache

# Coverage
coverage/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local
*.local
.vercel
.turbo

# TypeScript
*.tsbuildinfo
next-env.d.ts

# PWA
public/sw.js
public/workbox-*.js
public/worker-*.js
public/sw.js.map
public/workbox-*.js.map
public/worker-*.js.map

# Misc
.DS_Store
*.pem
.vercel
