# Diretórios e arquivos do Go
/bin/
/pkg/
*.exe
*.test
*.out

# Arquivos de build e cache
**/**/build/
**/**/dist/
**/**/cache/
**/**/tmp/
**/**/*.log

# Módulos e dependências do Go
go.work
go.work.sum
go.sum

# Configuração do editor
.idea/
*.iml

# Arquivos sensíveis
.env
.env.local
.env.*.local

# Dados temporários e de testes
/testdata/
*.db
*.sqlite
*.sqlite3
*.DS_Store

# Logs e dumps
*.log
*.bak
*.swp
*.swo

cortex_mongo.tar.gz
cortex.tar.enc
**.tar.gz
***.tar.enc


